@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0 auto;
  padding: 0 auto;
  transition: 0.5s;
}
body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
header h1 {
  color: #2f7dbe;
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
}
header img {
  cursor: pointer;
}

.toolbar{
  display: flex;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.toolbar a{
  text-decoration: none;
  font-size: 20px;
  color: #2f7dbe;
}
.toolbar a:hover{
  text-decoration: underline;
}
.content_guide {
  width: 95%;
  margin-top: 75px;
  min-height: 200px;
  text-align: center;
}
.content_guide p {
  color: red;
  font-size: 30px;
}
table {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
th {
  border: 1px solid #2f7dbe;
  background-color: #2f7dbe;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
td {
  border: 1px solid #2f7dbe;
  font-size: 20px;
  padding: 10px;
}
tr {
  padding: 10px;
}
.img_table img {
  width: 100px;
}
.nonstatic_ava:hover {
  position: relative;
  transform: scale(5);
  cursor: pointer;
}
.num_phone {
  min-width: 200px;
}

.highlight {
  background-color: #2f7ebe75;
}

.hidden {
  display: none;
}
.toggle-button {
  background-color: #fff;
  font-family: Roboto;
  color: #2f7dbe;
  font-size: 30px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}

.burger-menu {
  display: none;
  cursor: pointer;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
}
.burger-menu a {
  font-size: 20px;
  color: #2f7dbe;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.burger-menu a:hover {
  color: #2f7dbe;
}
.burger-menu a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.active {
  display: grid;
  text-align: center;
}

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Стили для формы в модальном окне */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #2f7dbe;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0c3c64;
}

/* admin */
.admin_toolbar {
  display: flex;
  gap: 30px;
}
.admin_toolbar a {
  color: #2f7dbe;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}
.admin_toolbar a:hover {
  text-decoration: underline;
}

header span {
  color: red;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
}
.content_admin {
  margin-top: 40px;
  display: grid;
  width: 60%;
  gap: 30px;
  margin-bottom: 50px;
}
.content_admin form {
  display: grid;
  width: 90%;
}
.new_user-btn {
  background-color: #2f7dbe;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.new_user-btn:hover {
  background-color: #0c3c64;
}

/* index */
.content_index {
  width: 100%;
  background: url(img/back.jpg) fixed no-repeat;
}
.slider-container {
  max-width: 1900px;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  margin-top: 150px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transition: 1s;
  width: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.arrow {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow.prev {
  left: 20px;
}

.arrow.next {
  right: 20px;
}
.img_slider {
  width: 100%;
}

.news {
  width: 80%;
  margin-top: 100px;
  text-align: left;
  margin-bottom: 100px;
}
.news p {
  color: #2f7dbe;
  font-size: 40px;
  display: grid;
}
.news-item {
  margin-top: 20px;
  background-color: #ffffffe8;
  padding: 20px;
  border-radius: 5px;
}
.news-title a {
  color: #2f7dbe;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}
.news-title a:hover {
  text-decoration: underline;
}
.view_all_news {
  padding-top: 10px;
  margin-bottom: 40px;
  color: #2f7dbe;
  font-size: 20px;
}
.index_document{
  margin-top: 50px;
  width: 80%;
}
.document_title{
  font-size: 30px;
  color: #2f7dbe;
}
.map_index{
  width: 100%;
  height: 400px;
  margin-top: 50px;
}

/* all news */
.content_all_news {
  width: 100%;
  text-align: left;
  background: url(img/back.jpg) fixed no-repeat;
}
.title_all_news {
  color: #2f7dbe;
  font-size: 40px;
  display: grid;
  text-align: center;
  margin-top: 50px;
  background-color: #fff;
  max-width: 300px;
  border-radius: 10px;
  padding: 10px;
}

.all_news-content {
  font-size: 20px;
}
.all_news-item {
  background-color: #ffffffdb;
  padding: 20px;
  border-radius: 5px;
  margin: 5%;
}
.read-more {
  display: none;
}

/* add news */
form textarea {
  width: 100%;
  max-width: 100%;
  font-size: 15px;
}


/* mediateka */
.media_gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.media_item {
  width: calc(33.333% - 10px);
  box-sizing: border-box;
}

.media_item img {
  width: 100%;
  height: auto;
  display: block;
}

/* adaptive */

@media screen and (max-width: 1320px) {
  .photo_adaptive-guide {
    display: none;
  }
  .img_table {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .post_adaptive-guide {
    display: none;
  }
  .toolbar{
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .slider-container {
    margin-top: 50px;
  }
  .arrow {
    display: none;
  }
  .mail_adaptive-guide {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .toolbar{
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .content_guide p {
    display: none;
  }
  table {
    margin-top: 0px;
  }
  .phone_adaptive-guide {
    display: none;
  }
  .num_phone {
    display: none;
  }
  .admin_toolbar {
    flex-direction: column;
    text-align: center;
  }
  .content_admin h2 {
    text-align: center;
  }
  .media_item{
  width: 45%;
}
}

@media screen and (max-width: 600px) {
  .slider-container {
    display: none;
  }
  .toolbar{
    flex-direction: column;
    gap: 10px;
  }
  .toolbar a{
    font-size: 16px;
  }
  .division_adaptive-guide {
    display: none;
  }
  header h1 {
    font-size: 30px;
  }
  .media_item{
    width: 80%;
  }
}



